<footer class="page-footer font-small blue mt-auto">

    <!-- Copyright -->
    <div class="foot footer-copyright text-center text-white py-1 bg-info">
        © 2022 SchoolReview
    </div>
    <!-- Copyright -->
  
  </footer>