<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheet/home.css">
</head>

<body>
    <div class="container">
        
        <div></div>
        <div class="content">
            <div>
                <p>Join in to explore and share all the best schools in the world!</p>
            </div>
            <div>
                <a href="/login">Login</a><br>
            </div>
            <div>
                <a href="/register">Register</a>
            </div>
            <div>
                <a href="/schools">All Schools</a>
            </div>
        </div>
        <div></div>
    </div>
</body>

</html>