<% layout('layout/boilerplate') -%>
    
    <div class="container register">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="new">
                    <form action="/register" method="post" class="needs-validation mt-3" novalidate>
                        <div class="mb-3">
                          <label for="name" class="form-label">User Name</label>
                          <input type="text" class="form-control" id="name" name="username" placeholder="User name" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                        </div>
                        
                        <button class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>